div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a{
  background-color: #f8a82f;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

div a:hover{
  opacity: 0.7;
  cursor: pointer;
}